/* import raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

/* geral */
* {
    font-family: var(--font), Arial, Helvetica, sans-serif;
}

:root {
    /* cores gerais */
    --red: #eb4132;
    --green: #31aa52;
    --blue: #4086f4;

    --dark-gray: #333333;
    --medium-gray: #868686;
    --light-gray: #efefef;

    /* cores do menu da navbar */
    --gray-background: #d1d1d1;
    --gray-line: #898989;
    --gray-links: #393939;

    --gray-switch-background: #2b2b2b;
    --gray-switch-select: #6c6c6c;

    /* fonte */
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    font-weight: 700;
    background-color: white;
}

/* navbar */
.navbar {
    background-color: var(--light-gray);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    z-index: 2;

    position: relative;
    top: 0;

    width: 100%;

    /* opacity: 0; */
}

.navbar h1 {
    font-size: 1.5em;

    color: var(--dark-gray);

    margin-left: 17px;

    font-weight: 900;
}

.navbar i {
    font-size: 2em;

    color: var(--medium-gray);

    margin-right: 20px;
}

/* navbar menu */
.navbar-menu {
    background-color: var(--gray-background);
    padding: 15px 15px 0;

    border-bottom: 2.5px solid var(--gray-line);

    position: absolute;
    width: 100%;

    z-index: 1;

    transition: all 0.3s ease-out;
}

/* switch */
.scheme-switch {
    background-color: var(--gray-switch-background);

    position: relative;

    margin: 0 auto 17px;
    padding: 0 10px;

    border-radius: 10px;

    display: flex;
    justify-content: center;

    height: 40px;

    max-width: 350px;
}

.scheme-switch ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.scheme-switch ul li {
    color: white;

    font-size: 1em;

    z-index: 1;
}

/* switch select */
.switch-select {
    background-color: var(--gray-switch-select);

    height: 25px;
    width: 50%;

    border-radius: 5px;

    position: absolute;
    z-index: 0;
    align-self: center;

    transform: translateX(-45%);
}

/* navbar links */
.navbar-links-small ul li {
    text-align: center;

    font-size: 1.1em;
    /* font-weight: 900; */

    padding: 15px;

    border-bottom: 2.5px solid var(--gray-line);
}

.navbar-links-small ul li:first-child {
    border-top: 2.5px solid var(--gray-line);
}

.navbar-links-small ul li:last-child {
    border-bottom: none;
}

.navbar-links-small ul li a {
    text-decoration: none;

    color: var(--gray-links);
}

.navbar-links-small ul li a:active {
    color: var(--blue);
}

/* main */
main {
    background-color: white;

    padding: 15px 10px;
}

/* dashboard */
.dashboard {
    background-color: var(--blue);

    border-radius: 10px;

    margin-bottom: 32px;

    height: 40px;

    transition: all 0.2s ease-in-out;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;

    padding: 0 10px;

    color: white;

    font-size: 1em;
}

.dashboard-header p {
    padding-top: 2.5px;
    padding-left: 5px;
}

.dashboard-header button {
    border: none;

    background-color: #5d9cff;

    color: white;

    font-family: var(--font);
    font-weight: 700;
    font-size: 0.9em;

    padding: 3px;

    width: 110px;

    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dashboard-data {
    padding: 40px 10px 30px;

    color: white;
    opacity: 0;

    transition: all 0.2s ease-out 0.1s;

    pointer-events: none;
}

.dashboard-data ul li {
    display: flex;
    justify-content: space-between;

    font-family: var(--font);
    font-weight: 400;
}

.dashboard-data ul li:nth-child(2) {
    margin: 40px 0;
}

.dashboard-data ul li p:last-child {
    font-weight: 700;
}

.dashboard-data ul {
    padding: 0 10px;
}

/* container do botão addtask e do buscador */
.addtask-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 27px;
}

/* botão de addtask */
.button-addtask-container {
    display: inline-block;
}

.button-addtask {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
    border-radius: 10px;

    background-color: var(--green);

    color: white;

    font-family: var(--font);
    font-weight: 700;
    font-size: 75%;

    padding: 10px;

    margin-right: 5px;
}

.button-addtask i {
    margin-right: 5px;
}

/* buscador */
.searchbar {
    display: flex;
    justify-content: flex-end;

    width: 60%;

    z-index: 0;
}

.searchbar input {
    background-color: var(--light-gray);

    border-width: 2.5px 0 2.5px 2.5px;
    border-color: var(--medium-gray);
    border-radius: 10px 0 0 10px;
    border-style: solid;

    padding: 7px 10px;

    transition: all 0.3s ease-in-out;

    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.searchbar input::placeholder {
    color: lightgray;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.searchbar input:focus {
    outline: none;

    border-color: var(--dark-gray);
}

.searchbar button {
    border-width: 2.5px;
    border-color: var(--medium-gray);
    border-radius: 0 10px 10px 0;
    border-style: solid;

    background-color: white;

    transition: all 0.3s ease-in-out;
}

.searchbar button i {
    color: var(--dark-gray);
    padding: 0 2px;
}

/* filtro */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.filter p {
    margin-right: 10px;
}

.filter select {
    background-color: var(--light-gray);

    border: none;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    color: black;

    padding: 7px 0;

    width: 65%;
}

.filter select:focus {
    outline: none;
}

.filter select option {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    /* background-color: black; */
}

/* task */
.task {
    margin-top: 22px;
}

/* tasks main */
.task-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 12px 17px;

    background-color: var(--light-gray);

    border: 2.5px solid var(--medium-gray);

    border-width: 2.5px 2.5px 0 2.5px;
    border-color: var(--medium-gray);
    border-style: solid;
    border-radius: 10px 10px 0 0;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.task-main i {
    font-size: 3em;
}

.task-main i.fa-regular {
    color: var(--medium-gray);
}

.task-main i.fa-solid {
    color: var(--green);
}

/* task data */
.task-data {
    transition: all .1s ease-in-out;
}

.task-data.checked {
    opacity: .5;
}

.task-data h2 {
    color: var(--dark-gray);

    font-weight: 900;
    font-size: 1.7em;

    margin-bottom: 10px;
}

.task-data p {
    /* cortar texto */
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: var(--medium-gray);

    font-size: 0.9em;
}

/* task buttons */
.task-buttons {
    width: 100%;

    display: flex;

    color: white;
}

.task-buttons button {
    width: 50%;

    border: none;

    padding: 10px;

    color: white;

    font-weight: 700;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.task-buttons button:first-child {
    background-color: var(--red);

    border-bottom-left-radius: 10px;
}

.task-buttons button:last-child {
    background-color: var(--blue);

    border-bottom-right-radius: 10px;
}
