/* import raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

/* geral */
* {
    font-family: var(--font), Arial, Helvetica, sans-serif;
}

:root {
    /* cores gerais */
    --red: #eb4132;
    --green: #31aa52;
    --blue: #4086f4;

    --dark-gray: #333333;
    --medium-gray: #868686;
    --light-gray: #efefef;

    /* cores do menu da navbar */
    --gray-background: #d1d1d1;
    --gray-line: #898989;
    --gray-links: #393939;

    --gray-switch-background: #2b2b2b;
    --gray-switch-select: #6c6c6c;

    /* fonte */
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    font-weight: 700;

    background-color: white;

    overflow-y: scroll;
}

body a {
    text-decoration: none;
}

body button {
    cursor: pointer;

    border: none;
    border-radius: 10px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    transition: all 0.2s ease-in-out;
}

/* responsivo */
@media screen and (min-width: 1024px) {
    body button:hover {
        transform: scale(1.02);

        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }
}

/* navbar */
.navbar {
    background-color: var(--light-gray);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    z-index: 2;

    position: relative;
    top: 0;

    width: 100%;
}

.navbar h1 {
    font-size: 1.5em;

    color: var(--dark-gray);

    margin-left: 17px;

    font-weight: 900;

    pointer-events: none;
}

.navbar > i {
    font-size: 2em;

    color: var(--medium-gray);

    margin-right: 20px;

    cursor: pointer;
}

/* responsivo */
.navbar button {
    display: none;
}

.navbar-links-wide {
    display: none;
}

@media screen and (min-width: 1024px) {
    .navbar > i {
        display: none;
    }

    .navbar-links-wide {
        display: block;
    }

    /* navbar links */
    .navbar-links-wide ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links-wide ul li {
        margin: 0 17px;
    }

    .navbar-links-wide ul li a {
        color: var(--medium-gray);
    }

    /* navbar button */
    .navbar button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;

        background-color: #121212;

        color: white;

        border: none;
        border-radius: 10px;

        padding: 12px 20px;

        font-weight: 700;
    }

    .navbar button i {
        font-size: 1.2em;

        color: white;

        margin-right: 10px;
    }
}

/* navbar menu */
.navbar-menu {
    background-color: var(--gray-background);
    padding: 15px 15px 0;

    border-bottom: 2.5px solid var(--gray-line);

    position: absolute;
    width: 100%;

    top: -100%;

    z-index: 1;

    transition: all 0.3s ease-out;
}

/* responsivo */
@media screen and (min-width: 1024px) {
    .navbar-menu {
        display: none;
    }
}

/* switch */
.scheme-switch {
    background-color: var(--gray-switch-background);

    position: relative;

    margin: 10px auto 27px;
    padding: 0 10px;

    border-radius: 10px;

    display: flex;
    justify-content: center;

    height: 40px;

    max-width: 350px;
}

.scheme-switch ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.scheme-switch ul li {
    color: white;

    font-size: 1em;

    z-index: 1;

    cursor: pointer;
}

/* switch select */
.switch-select {
    background-color: var(--gray-switch-select);

    height: 25px;
    width: 50%;

    border-radius: 5px;

    position: absolute;
    z-index: 0;
    align-self: center;

    transform: translateX(-45%);

    transition: all 0.15s ease-out;
}

/* navbar links */
.navbar-links-small ul li {
    text-align: center;

    font-size: 1.1em;
    /* font-weight: 900; */

    padding: 15px;

    border-bottom: 2.5px solid var(--gray-line);
}

.navbar-links-small ul li:first-child {
    border-top: 2.5px solid var(--gray-line);
}

.navbar-links-small ul li:last-child {
    border-bottom: none;
}

.navbar-links-small ul li a {
    color: var(--gray-links);
}

.navbar-links-small ul li a:active {
    color: var(--blue);
}
